/* 
    Document   : admin
    Created on : Mar 31, 2011, 1:37:34 PM
    Author     : Scott Hair
    Description:
        Admin Options Menu CSS file
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/

root { 
    display: block;
}
*/